<h1>Images<h1>

<% if @images.count < 2 %>
  <h4>You have no images<h4>
<% end %>

<% @images.each_with_index do |image, index| %>
  <% next if index == 0 %>
  <h2><a href="images/#{image.id}=#{image[:title]"</a></h3>
  <p><img src=<%=image[:url]%> width=40/></p>
  <li>
      <a href="/images/<%=index%>"><img src="<%= image[:url] %>" width=50%></img></a>
  </li>
<% end %>
</ul>